package ${controllerPath};

import ${modelPath}.${className};
import ${servicePath}.${className}Service;
import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.beans.factory.annotation.Autowired;

@FeignClient(value = "", fallback = "")
public class ${className}Controller extends BaseController {

    @Autowired
    private ${className}Service ${tableName}Service;


    @PostMapping("/list")
    public List<${className}> getList(${className} ${tableName}) {
        List<${className}> resultData = ${tableName}Service.selectByFilter(${tableName});
        return resultData;
    }

}
