<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.demo.mapper.OracleMapper">

<!--  <select id="getSchemas" resultType="java.lang.String">-->
<!--    SELECT SCHEMA_NAME FROM SCHEMAS-->
<!--  </select>-->

  <select id="getTables" resultType="java.lang.String">
    SELECT T.TABLE_NAME FROM USER_TABLES T
    <where>
      <if test="tablespaceName != '' and tablespaceName != null">
        and TABLESPACE_NAME = #{tablespaceName}
      </if>
    </where>
  </select>

  <select id="getColumns" resultType="com.centit.demo.model.BaseTableColumn">
    SELECT COLUMN_NAME AS columnName, DATA_TYPE AS columnType
    FROM USER_TAB_COLUMNS
    WHERE TABLE_NAME = #{tableName}
    ORDER BY  COLUMN_ID ASC
  </select>
</mapper>